<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Data Form</title>
    <link rel="stylesheet" href="/static/form.css" />
  </head>
  <body>
    <div class="container">
      <h1>Product Data</h1>
      <form action="/predict" method="post">
        <label for="SKU">SKU:</label>
        <input type="text" name="SKU" required />

        <label for="Product type">Product Type:</label>
        <select name="Product type" id="p-type" required>
          <option value="none" disabled selected style="color: #777">
            Select...
          </option>
          <option value="0">Cosmetics</option>
          <option value="1">Haircare</option>
          <option value="2">Skincare</option>
        </select>

        <label for="Price">Price:</label>
        <input type="number" id="price" name="Price" min="0" required />

        <label for="Availability">Availability:</label>
        <input type="text" id="availability" name="Availability" required />

        <label for="Costs">Costs:</label>
        <input type="number" id="costs" name="Costs" min="0" required />

        <label for="Customer demographics">Customer Demographics:</label>
        <select id="dropdown" name="Customer demographics" required>
          <option value="none" disabled selected style="color: #777777">
            Select...
          </option>
          <option value="1">Male</option>
          <option value="0">Female</option>
          <option value="2">Non-Binary</option>
          <option value="3">Unknown</option>
        </select>

        <label for="Number of products sold">Number of Products Sold:</label>
        <input
          type="number"
          id="number-of-products-sold"
          name="Number of products sold"
          min="0"
          required
        />
        
        <label for="Stock levels">Stock Levels:</label>
        <input type="number"
        id="stock-levels"
        name="Stock levels"
        min="0"
        required
        />

        <label for="Order quantities">Order Quantities:</label>
        <input
          type="number"
          id="order-quantities"
          name="Order quantities"
          min="0"
          required
        />

        <label for="Defect rates">Defect Rates:</label>
        <input
          type="number"
          id="defect-rates"
          step="any"
          name="Defect rates"
          min="0"
          required
        />

        <label for="Inspection results">Inspection Results:</label>
        <select
          id="inspection-results-values"
          name="Inspection results"
          required
        >
          <option value="none" disabled selected style="color: #777">
            Select...
          </option>
          <option value="1">Pass</option>
          <option value="0">Fail</option>
          <option value="2">Pending</option>
        </select>

        <label for="Lead time">Lead Time:</label>
        <input type="number" id="lead-time" name="Lead time" min="0" required />

        <label for="Lead times">Lead Times:</label>
        <input
          type="number"
          id="lead-times"
          name="Lead times"
          min="0"
          required
        />

        <label for="Manufacturing lead time">Manufacturing Lead Time:</label>
        <input
          type="number"
          id="manufacturing-lead-time"
          name="Manufacturing lead time"
          min="0"
          required
        />

        <label for="Production volumes">Production Volumes:</label>
        <input
          type="number"
          id="production-volumes"
          name="Production volumes"
          min="0"
          required
        />

        <button type="submit" value="predict">Submit</button>
      </form>
    </div>
  </body>
</html>
