<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Data Form</title>
    <link rel="stylesheet" href="/static/form.css" />
  </head>
  <body>
    <div class="container">
      <h1>Product Data</h1>
      <form action="/predict" method="post">
        <label for="SKU">SKU:</label>
        <select type="text" name="SKU" required>
          <option value="none" disabled selected style="color: #777">
            Select...
          </option>
          <option value="0">SKU-1</option>
          <option value="1">SKU-2</option>
          <option value="2">SKU-3</option>
          <option value="3">SKU-4</option>
          <option value="4">SKU-5</option>
          <option value="5">SKU-6</option>
          <option value="6">SKU-7</option>
          <option value="7">SKU-8</option>
          <option value="8">SKU-9</option>
          <option value="9">SKU-10</option>
          <option value="10">SKU-11</option>
          <option value="11">SKU-12</option>
          <option value="12">SKU-13</option>
          <option value="13">SKU-14</option>
          <option value="14">SKU-15</option>
          <option value="15">SKU-16</option>
          <option value="16">SKU-17</option>
          <option value="17">SKU-18</option>
          <option value="18">SKU-19</option>
          <option value="19">SKU-20</option>
          <option value="20">SKU-21</option>
          <option value="21">SKU-22</option>
          <option value="22">SKU-23</option>
          <option value="23">SKU-24</option>
          <option value="24">SKU-25</option>
          <option value="25">SKU-26</option>
          <option value="26">SKU-27</option>
          <option value="27">SKU-28</option>
          <option value="28">SKU-29</option>
          <option value="29">SKU-30</option>
          <option value="30">SKU-31</option>
          <option value="31">SKU-32</option>
          <option value="32">SKU-33</option>
          <option value="33">SKU-34</option>
          <option value="34">SKU-35</option>
          <option value="35">SKU-36</option>
          <option value="36">SKU-37</option>
          <option value="37">SKU-38</option>
          <option value="38">SKU-39</option>
          <option value="39">SKU-40</option>
          <option value="40">SKU-41</option>
          <option value="41">SKU-42</option>
          <option value="42">SKU-43</option>
          <option value="43">SKU-44</option>
          <option value="44">SKU-45</option>
          <option value="45">SKU-46</option>
          <option value="46">SKU-47</option>
          <option value="47">SKU-48</option>
          <option value="48">SKU-49</option>
          <option value="49">SKU-50</option>
          <option value="50">SKU-51</option>
          <option value="51">SKU-52</option>
          <option value="52">SKU-53</option>
          <option value="53">SKU-54</option>
          <option value="54">SKU-55</option>
          <option value="55">SKU-56</option>
          <option value="56">SKU-57</option>
          <option value="57">SKU-58</option>
          <option value="58">SKU-59</option>
          <option value="59">SKU-60</option>
          <option value="60">SKU-61</option>
          <option value="61">SKU-62</option>
          <option value="62">SKU-63</option>
          <option value="63">SKU-64</option>
          <option value="64">SKU-65</option>
          <option value="65">SKU-66</option>
          <option value="66">SKU-67</option>
          <option value="67">SKU-68</option>
          <option value="68">SKU-69</option>
          <option value="69">SKU-70</option>
          <option value="70">SKU-71</option>
          <option value="71">SKU-72</option>
          <option value="72">SKU-73</option>
          <option value="73">SKU-74</option>
          <option value="74">SKU-75</option>
          <option value="75">SKU-76</option>
          <option value="76">SKU-77</option>
          <option value="77">SKU-78</option>
          <option value="78">SKU-79</option>
          <option value="79">SKU-80</option>
          <option value="80">SKU-81</option>
          <option value="81">SKU-82</option>
          <option value="82">SKU-83</option>
          <option value="83">SKU-84</option>
          <option value="84">SKU-85</option>
          <option value="85">SKU-86</option>
          <option value="86">SKU-87</option>
          <option value="87">SKU-88</option>
          <option value="88">SKU-89</option>
          <option value="89">SKU-90</option>
          <option value="90">SKU-91</option>
          <option value="91">SKU-92</option>
          <option value="92">SKU-93</option>
          <option value="93">SKU-94</option>
          <option value="94">SKU-95</option>
          <option value="95">SKU-96</option>
          <option value="96">SKU-97</option>
          <option value="97">SKU-98</option>
          <option value="98">SKU-99</option>
        </select>

        <label for="Product type">Product Type:</label>
        <select name="Product type" id="p-type" required>
          <option value="none" disabled selected style="color: #777">
            Select...
          </option>
          <option value="0">Cosmetics</option>
          <option value="1">Haircare</option>
          <option value="2">Skincare</option>
        </select>

        <label for="Price">Price:</label>
        <input type="number" id="price" name="Price" min="0" required />

        <label for="Availability">Availability:</label>
        <input type="text" id="availability" name="Availability" required />

        <label for="Costs">Costs:</label>
        <input type="number" id="costs" name="Costs" min="0" required />

        <label for="Customer demographics">Customer Demographics:</label>
        <select id="dropdown" name="Customer demographics" required>
          <option value="none" disabled selected style="color: #777777">
            Select...
          </option>
          <option value="1">Male</option>
          <option value="0">Female</option>
          <option value="2">Non-Binary</option>
          <option value="3">Unknown</option>
        </select>

        <label for="Number of products sold">Number of Products Sold:</label>
        <input
          type="number"
          id="number-of-products-sold"
          name="Number of products sold"
          min="0"
          required
        />
        
        <label for="Stock levels">Stock Levels:</label>
        <input type="number"
        id="stock-levels"
        name="Stock levels"
        min="0"
        required
        />

        <label for="Order quantities">Order Quantities:</label>
        <input
          type="number"
          id="order-quantities"
          name="Order quantities"
          min="0"
          required
        />

        <label for="Defect rates">Defect Rates:</label>
        <input
          type="number"
          id="defect-rates"
          step="any"
          name="Defect rates"
          min="0"
          required
        />

        <label for="Inspection results">Inspection Results:</label>
        <select
          id="inspection-results-values"
          name="Inspection results"
          required
        >
          <option value="none" disabled selected style="color: #777">
            Select...
          </option>
          <option value="1">Pass</option>
          <option value="0">Fail</option>
          <option value="2">Pending</option>
        </select>

        <label for="Lead time">Lead Time:</label>
        <input type="number" id="lead-time" name="Lead time" min="0" required />

        <label for="Lead times">Lead Times:</label>
        <input
          type="number"
          id="lead-times"
          name="Lead times"
          min="0"
          required
        />

        <label for="Manufacturing lead time">Manufacturing Lead Time:</label>
        <input
          type="number"
          id="manufacturing-lead-time"
          name="Manufacturing lead time"
          min="0"
          required
        />

        <label for="Production volumes">Production Volumes:</label>
        <input
          type="number"
          id="production-volumes"
          name="Production volumes"
          min="0"
          required
        />

        <button type="submit" value="predict">Submit</button>
      </form>
    </div>
  </body>
</html>
