<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supply Chain Management Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body onload="runOnLoad()">
    <header>
      <div class="header-class">
        <h1>Supply Chain Management Dashboard</h1>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Inventory</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Analytics</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="sidebar">
          <h2>Menu</h2>
          <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            <a class="nav-link" href="#" tabindex="-1">Demand Forecast</a>
          </nav>
        </div>
        <div class="main-page-container">
        <div class="content">
          <label for="dropdown" class="label-head">Select ID:</label>
                <select id="dropdown" onchange="updateContainer()">
                  <option value="0" selected style="color: #bbb;">Select...</option>
                  <option value="23">SKU3</option>
                  <option value="93">SKU7</option>
                </select>
          <div class="box">
            <div class="box-head">
              <img
                class="box-icons"
                src="/static/icons/stack.svg"
                alt="Stocks Icon"
              />
              <h3>Current Stocks</h3>
            </div>
            <div class="stocks">
              <div class="stock-value" style="color: #000000"id="result-container">
                 <span class="result-values" id="selected-value"> </span>  units
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box-head">
                <img
                  class="box-icons"
                  src="/static/icons/coin.svg"
                  alt="Stocks Icon"
                />
                <h3>Revenue</h3>
              </div>
            <div class="revenue">
              <p class="revenue-value" style="color: #000000; font: 1.5rem sans-serif;">
                ₹  <span class="result-values" id="revenue-value-holder"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="analytics-box">
            <div class="box-head">
                <img
                  class="box-icons"
                  src="/static/icons/bar-chart-fill.svg"
                  alt="Stocks Icon"
                />
                <h3>Analytics</h3>
                </div>
                <div class="revenue">
                  <p class="revenue-value" style="color: #bbbbbb">
                    <canvas id="demandChart" width="250" height="150"></canvas>
                  </p>
                </div>
              </div>
        </div>
    </div>
      </div>
    </main>

    <footer>
      <p>
        &copy; 2022 Supermarket Supply Chain Management. All rights reserved.
      </p>
      <p>Follow us on social media:</p>
      <ul>
        <li><img src="/static/icons/facebook.svg" alt="" /></li>
        <li><img src="/static/icons/instagram.svg" alt="" /></li>
        <li><img src="/static/icons/github.svg" alt="" /></li>
      </ul>
    </footer>
    <script src="/static/js/index.js"></script>
  </body>
</html>
